@model DatenMeister.Web.Models.ExtentModel

<div class="jumbotron">
    <p><a href="/">Back to overview</a></p>
    <h1>Extent not found</h1>
    <p class="lead">Sorry, we did not find the extent.</p>
</div>