@model DatenMeister.Web.Models.ExtentModel

<div class="jumbotron">
    <p><a href="/Home/workspace?ws=@HttpUtility.JavaScriptStringEncode(Model.workspace.id)">">Back to workspace</a></p>
    <h1>Extent '@Model.url'</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Items</h2>
        <table id="container_item" class="table">
            <tr><td><em>Loading...</em></td></tr>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        DatenMeister.GUI.loadExtent("@HttpUtility.JavaScriptStringEncode(Model.workspace.id)", "@HttpUtility.JavaScriptStringEncode(Model.url)");
    </script>

}