<div class="jumbotron">
    <h1>DatenMeister</h1>
    <p class="lead">DatenMeister will be a MOF and UML compliant management tool for data of all kinds.</p>
    <!--<p><a href="http://datenmeister.de" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
<script type="text/x-jquery-tmpl" id="template_workspace">
    <tr>
        <td><a href="#" class="data"><%-id%></a></td>
        <td><%-annotation%></td>
    </tr>
</script>
<div class="row">
    <div class="col-md-8">  
        <h2>Workspaces</h2>
        <table id="container_workspace" class="table">
            <tr><td><em>Loading...</em></td></tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Workspaces</h2>
        <p>A workspace collects several sets of data into an isolated storage which can be loaded and unloaded. </p>
        <p><a class="btn btn-default" href="http://www.omg.org/spec/MOFFOL/2.0/PDF/">OMG Documents</a></p>
    </div>
</div>

@section Scripts {

<script type="text/javascript">
    DatenMeister.GUI.loadWorkspaces();
</script>

}