@model DatenMeister.Web.Models.ItemModel

<div class="jumbotron">
    <p><a href="/Home/extent?ws=@HttpUtility.JavaScriptStringEncode(Model.extent.workspace.id)&extent=@HttpUtility.JavaScriptStringEncode(Model.extent.url)">Back to extent</a></p>
    <h2>Item '@Model.url'</h2>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Items</h2>
        <table id="container_item" class="table">
            <tr><td><em>Loading...</em></td></tr>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        DatenMeister.GUI.loadItem(
            "@HttpUtility.JavaScriptStringEncode(Model.extent.workspace.id)",
            "@HttpUtility.JavaScriptStringEncode(Model.extent.url)",
            "@HttpUtility.JavaScriptStringEncode(Model.url)");
    </script>

}