@model DatenMeister.Web.Models.WorkspaceModel

<div class="jumbotron">
    <p><a href="/">Back to overview</a></p>
    <h1>Workspace not found</h1>
    <p class="lead">Sorry, we did not find the workspace.</p>
</div>