
/* Mocha Configuration
-------------------------------------------------- */
#mocha
{
    margin: 10px !important;
}

#mocha #mocha-stats {
    position: relative;
}

#server_errors div
{
    font-size: 9px;
    white-space: pre-wrap;
    font-family: monospace;

}

.dm-logging-trace {
    color: #333333;
}

.dm-logging-debug {
    color: darkblue;
}

.dm-logging-info {
    color: green;
}

.dm-logging-warn {
    color: saddlebrown;
}

.dm-logging-error {
    color: red;
}

.dm-logging-fatal {
    color: blueviolet;
}

.dm-subelements-refresh-btn {
    cursor: pointer
}

.dm-debug-property-value {
    white-space: pre-wrap;
}


.dm-logging p {
    margin: 0px;
    font-size: 11px;
    font-family: monospace;
}
