
.dm-layout-single
{
    margin: 10px;
}

/* Resizable Splitter Styles */
.dm-layout-resizable-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dm-layout-resizable-browsetree {
    display: none;
    min-width: 250px;
    width: 250px; /* Default width */
    overflow: auto;
    align-items: stretch;
    margin: 10px;
}

.dm-layout-resizable-resizer {
    display: none;
    width: 5px;
    cursor: col-resize;
    background-color: #ddd;
    flex-shrink: 0;
    height: 100%;
    align-items: stretch;
}

@media (min-width: 768px) {
    .dm-layout-resizable-browsetree{
        display: block;
    }
    
    .dm-layout-resizable-resizer{
        display: block;
    }
}

.dm-layout-resizable-resizer:hover {
    background-color: #bbb;
}

.dm-layout-resizable-detail {
    flex-grow: 1;
    overflow: scroll;
    min-width: 100px;
    align-items: stretch;
    margin: 10px;
    padding-bottom: 20vh;
}
