@page "/Actions"
@namespace DatenMeister.WebServer.Pages
@using System.Web
@model DatenMeister.WebServer.Pages.ActionsModel

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Actions";
}

<h1>Actions</h1>

<h2>Global</h2>

<div>
    <ul>
        <li><a href="~/ResetDatenMeister">Reset all data</a></li>
    </ul>
</div>

<h2>Workspaces</h2>
<div>
    <ul>
        <li><a href="~/WorkspacesAndExtent">Workspaces and Extents</a></li>
    </ul>
</div>

<h2>Test and Debugging</h2>
<div>
    <ul>
        <li><a href="~/ItemAction/JSON.Item.Alert">Test Creation of empty object</a></li>
        <li><a href="~/ItemAction/Zipcode.Test?metaclass=@HttpUtility.UrlEncode(Model.GetZipCodeMetaClassUri())">Test Creation of Zipcode</a></li>
    </ul>
</div>