@page "/Actions"

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Actions";
}

<h1>Actions</h1>

<h2>Global</h2>

<div>
    <ul>
        <li><a href="~/ResetDatenMeister">Reset all data</a></li>
    </ul>
</div>

<h2>Workspaces</h2>
<div>
    <ul>
        <li><a href="~/WorkspacesAndExtent">Workspaces and Extents</a></li>
    </ul>
</div>