@page "/"
@namespace DatenMeister.WebServer.Pages

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister";
}

@model IndexModel


<h1>Startpage</h1>

Welcome to DatenMeister!

<div class="dm_dashboard">
    <div class="dm_dashboard_headline">Dashboard</div>
    <div class="dm_dashboard_content">
        <div class="dm_dashboard_widget">
            <div class="dm_dashboard_widget_title">Primary Actions</div>
            <a href="~/ItemAction/Item.Create.Temporary.SetMetaclass">Create temporary action</a>
        </div>
    </div>
</div>