@page
@model IndexModel
@{
    ViewData["Title"] = "Der DatenMeister";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://datenmeister.net">Welcome to the DatenMeister</a>.</p>
</div>
