@page "/"
@namespace DatenMeister.WebServer.Pages

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister";
}

@model IndexModel

<h1>Startpage</h1>

Welcome to DatenMeister!