@page "/ItemsOverview/{workspace}/{extent}/{item?}"
@namespace DatenMeister.WebServer.Pages
@using System.Web
@model ExtentOverviewModel

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Items Overview";
}

<h1>Items Overview</h1>

<div style="">
    <select id="dm-viewmode-selection">
        
    </select>
</div>

<script type="application/javascript">

$(function()
{
    requirejs(['forms/Forms'], function (Forms)
    {
        let listForm = new Forms.CollectionFormCreator();
        listForm.createListForRootElements(
            {
                itemContainer: $("#dm-items")
            },
            "@HttpUtility.JavaScriptStringEncode(Model.Workspace)",
            "@HttpUtility.JavaScriptStringEncode(Model.Extent)",
            {isReadOnly: true});
    });
    
    requirejs(['forms/ListForm'], function (listForm)
    {
        listForm.openMetaClassSelectionFormForNewItem(
            $(".dm-btn-create-item-with-metaclass"),
            $("#dm-btn-create-item-metaclass"),            
            "@HttpUtility.JavaScriptStringEncode(Model.Workspace)",
            "@HttpUtility.JavaScriptStringEncode(Model.Extent)");
    });
});

</script>

<div>
    <a href="~/ItemAction/Extent.CreateItem?workspace=@HttpUtility.HtmlAttributeEncode(Model.Workspace)&extent=@HttpUtility.HtmlAttributeEncode(Model.Extent)" class="btn btn-secondary">Create unclassified Item</a>
    <btn class="btn btn-secondary dm-btn-create-item-with-metaclass">Create Item w/ MetaClass</btn>
</div>

<div id="dm-btn-create-item-metaclass"></div>
<div id="dm-items"></div>

<div class="accordion" id="debug_accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="debug_mofelement_heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#debug_mofelement_body" aria-expanded="true" aria-controls="collapseOne">
                Element
            </button>
        </h2>
        <div id="debug_mofelement_body" class="accordion-collapse collapse" aria-labelledby="debug_mofelement_heading" data-bs-parent="#debug_accordion">
            <div class="accordion-body" id="debug_mofelement">
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="debug_formelement_heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#debug_formelement_body" aria-expanded="true" aria-controls="collapseOne">
                Form
            </button>
        </h2>
        <div id="debug_formelement_body" class="accordion-collapse collapse" aria-labelledby="debug_formelement_heading" data-bs-parent="#debug_accordion">
            <div>
                <button class="btn btn-light">Create Form</button>
                <button class="btn btn-light">Create Form and Form Association</button>
            </div>
            <div class="accordion-body" id="debug_formelement">
            </div>
        </div>
    </div>
</div>