@page "/Logging"
@namespace DatenMeister.WebServer.Pages
@using System.Globalization
@using BurnSystems.Logging.Provider
@model LoggingModel

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Logging - Der DatenMeister";
}

<h1>Logging</h1>

<div class="dm-logging">

    @foreach (var logging in InMemoryDatabaseProvider.TheOne.Messages)
    {
        <p class="dm-logging-@logging.LogMessage.LogLevel.ToString().ToLower()">
            @logging.Created.ToString(CultureInfo.InvariantCulture) @logging.LogMessage.ToString()
        </p>
    }
</div>