@page "/Settings"

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Settings - Der DatenMeister";
}

<h1>Settings</h1>

<p>Welcome to the Settings-Page</p>

<p>Currently, we have no settings</p>
