@page "/Settings"

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Settings";
}

<h1>Settings</h1>

<p>Welcome to the Settings-Page</p>

<p>Currently, we have no settings</p>

<div id="selectForm"></div>

<script>

$(function ()
{
    requirejs(['datenmeister/Forms.SelectItemControl'], function(formControl)
    {
        const r = new formControl.SelectItemControl();
        r.init($("#selectForm"));        
    });
 });
 
</script>
