@page "/"

<div class="dm-maincontent">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item active"><a class="nav-link" href="#">Your items</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Other items</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Further Items items</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                Explorer
            </ul>
        </div>
            <div class="col-10">
                <h1>This is the main content</h1>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
                <div>We have a lot of content</div>
            </div>
        </div>
    </div>
</div>

@code {

}

