

/*
    The definitions for the rowform
 */

div.dm-collectionform-buttons
{
    margin-bottom: 10px;
}

.dm-rowform .dm-textfield {
    white-space: pre-wrap;
}

.dm-rowform textarea.dm-textfield {
    resize: both;
}
.dm-textfield-clipboard-container
{
    padding: 5px;
    background-color: lightgray;
    border: 1px solid black;
    width: 100%;
}

.dm-textfield-clipboard
{
    width: calc(100%);
    height: 200px;
    padding: 5px;
}

table.dm-tableform
{
    width: auto;
    max-width: 100%;
}

div.dm-tableform-container
{
    border: 1px solid black;
}

div.dm-tableform-container h2
{
    border-bottom: 1px solid black;
    background-color: #EEEEEE;
    padding: 5px;
    margin-bottom: 0px;
}

div.dm-tableform-container h2 a
{
    text-decoration: none;
    color: black;
}

.dm-tableform-tablecontainer {
    max-width: 100%;
    max-height: 80vh;
    overflow-x: auto;
    overflow-y: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dm-tableform-loadinginfotext
{
    font-size: 80%;
    color: red;
    margin-top: 0px;
    padding: 5px;
    border-bottom: 1px solid black;
}
.dm-tableform-container .dm-tableform-buttons
{
    border-bottom: 1px solid black;
    vertical-align: center;
    padding: 5px 5px 5px 5px;
}

.dm-tableform-popup-button-popup-content
{
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
    background-color: #EEEEEE;
}

.dm-tableform .dm-textfield {
    white-space: pre-wrap;
}

.dm-tableform .dm-tableform-sortbutton {
    font-size: 80%;
    border: 1px solid black;
    background-color: white;
    padding: 1px 4px 1px 4px;
    margin: 0px 0px 0px 4px;
    border-radius: 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center
}

.dm-tableform .dm-tableform-sortbutton:hover {
    background-color: lightgray;
}

.dm-tablerow-columnheader
{
    width: 100%;
}
.dm-tablerow-columnheader .dm-tablerow-columnbuttons {
    text-align: right;
    white-space: nowrap;
}

.dm-tableform-settings {

    background-color: #FFFFFF;
    padding: 5px;
}

.dm-tableform-settings div{
    display: inline-block;
    padding-right: 5px;
}

.dm-tableform-freetextform {

    float: right;
    margin-left: 10px;
    margin-right: 5px;
}

div .dm-tableform-querytext {
    font-size: 60%;
    border: 1px solid rgb(168, 168, 168);
    width: fit-content;
    padding: 1px 3px 1px 3px;
    background-color: rgba(0, 0, 0, .05);
    margin: 2px 0px 2px 0px;
}

/* Used to style undefined values in textfields and other fields with a light color to de-emphasize 
 * the visibility of these items
*/
.dm-undefined {
    color: darkgray;
}

.dm-selectitemcontrol {
    border-collapse: collapse;
}

.dm-selectitemcontrol th {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border: black 1px solid;
    vertical-align: top;
}

.dm-selectitemcontrol td {
    padding: 5px 10px 5px 10px;
    border: black 1px solid;
    vertical-align: top;
}

.dm-selectitemcontrol select {
    width: 400px;
}

.dm-selectitemcontrol ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
    margin-left: 0;
}

.dm-selectitemcontrol ul li {
    list-style-position: outside;
}

.dm-selectitemcontrol .dm-sic-items ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Makes the selectable items like a small button */
.dm-selectitemcontrol .dm-sic-item
{
    background: lightblue;
    border: 1px solid dimgray;
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
    margin-bottom: 2px;
    font-size: 80%;
    cursor: pointer;
}

.dm-selectitemcontrol .dm-sic-selected
{
    background: lightskyblue;
    border: 1px solid dimgray;
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
    margin-bottom: 2px;
    font-weight: bold;
    color: black;
}

.dm-selectitemcontrol .dm-sic-selected a
{
    color: black;
}

.dm-table-nofullwidth {
    width: auto !important;
}

.dm-anydatafield-headline {
    font-size: 75%;
}

.dm-anydatafield-headline a {
    cursor: pointer;
    text-decoration: none;
}

.dm-anydatafield-headline a.active {
    text-decoration: underline;
}

.dm-detail-info-id-edit
{
    font-size: 80%;
}

.dm-detail-info-id-value-field
{
    width: 30em;
}

.dm-item-edit-button
{
    cursor: pointer;
    text-decoration: none;
}