

/*
 * Being used as separator line
 */
.dm-separatorline
{
    border: 1px solid black;
    margin: 2px;
    opacity: 1;
}

/*
 * Status text
 */
.dm-status-text
{
    position: absolute;
    width: 200px;
    right: 20px;
    font-size: 8px;
    text-align: right;
    border:1px solid black;
    padding: 3px 10px 3px 10px;
    z-index: 10;
    background-color: whitesmoke;
}

.dm-status-text ul{
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.dm-status-text li{
    padding: 0px;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



/* Restyle the buttons that they are a bit more beautiful */
.btn{
    font-size: 80%;
    padding: 3px 10px 3px 10px;
    margin-right: 2px;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}