
/* Resizable Splitter Styles */
.dm-splitter-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dm-splitter-left {
    min-width: 50px;
    width: 250px; /* Default width */
    overflow: auto;
    align-items: stretch;
}

.dm-splitter-resizer {
    width: 5px;
    cursor: col-resize;
    background-color: #ddd;
    flex-shrink: 0;
    height: 100%;
    align-items: stretch;
}

.dm-splitter-resizer:hover {
    background-color: #bbb;
}

.dm-splitter-right {
    flex-grow: 1;
    overflow: scroll;
    min-width: 100px;
    align-items: stretch;
}
