 <xmi>
     <!-- This is an example file... Remove the settings node below and remove the example notes -->
     <settings />
     
     <!--
     <settings
 		windowTitle = "Der DatenMeister - Example" 
        databasePath="%LOCALAPPDATA%/DatenMeister Example">
         <environmentVariable key="import_path" value="c:\import-folder" />
     </settings>
     -->
 </xmi>
 