body {
    padding-top: 130px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.hl {
    cursor: pointer;
}

#dm-ajaxloading {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    z-index: 2;
}

.dm-topbar {
    width: 100%;
    background-color: lightgray;
    color: black;
    font-size: 150%;
    vertical-align: middle;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

    .dm-topbar a {
        color: black;
    }

.dm-ribbon {
    border-bottom: 1px black solid;
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 130px;
}

.dm-tab-titles {
    border-bottom: 1px black solid;
}

.dm-tab-titles .dm-tab-title {
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
}


    .dm-tab-titles div.selected {
        background-color: black;
        color: white;
    }

    .dm-tab-titles div.selected:hover {
        background-color: gray;
        color: white;
    }

    .dm-tab-titles div:hover {
        background-color: lightgray;
    }

.dm-icon-container {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    cursor: pointer;    
}

    .dm-icon-container img{
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
    }
    .dm-icon-container img:hover{
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

    }

    /* Settings for the title text */
    .dm-icon-container div {
        text-align: center;
        margin: 0;
        padding: 0;
        width: 64px;
    }

    .dm-icon-container .dm-icon-title {
        font-size: 75%;

    }

.dm-tab-content {
    padding-left: 10px;
}
.dm-page-selected {
    width: 5em;
}

.dm-toolbar {
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid black;
}

.data-items table {
    table-layout: fixed;
    word-wrap: break-word;
    margin: 0 10px 0 10px;
    width: 100%;
}

.data-items table tr td {
    vertical-align: top;
    padding-right: 20px;
}

.data-items table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.data-items table ul li {
    margin: 0;
    padding: 0;
}

.dm-itemtable-commands {
    white-space: nowrap;
}

.dm-statusline {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: lightgray;
    font-weight: bold;
    border-top: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

.dm-button-ok {
    margin-right: 10px;
}