@using DatenMeister.WebServer.Library
@namespace DatenMeister.WebServer.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject AppNavigationDefinition AppNavigationDefinition

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Der DatenMeister</title>
    <base href="~/" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/css/datenmeister.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script data-main="js/datenmeister" src="~/js/require.js"></script>
</head>
<body>

<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DatenMeister</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Item/Management/dm%3A%2F%2F%2F_internal%2Fworkspaces/Data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ItemsOverview/Management/dm:%2F%2F%2F_internal%2Fworkspaces" >Workspaces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Item/Management/dm%3A%2F%2F%2F_internal%2Fworkspaces/Types">Types</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Command" aria-label="Command">
                    <button class="btn btn-outline-success me-2" type="submit">Execute</button>
                </form> 
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div>
    <nav class="navbar fixed-left dm-sidebar">
        <ul class="navbar-nav">
            @foreach (var item in AppNavigationDefinition.Items)
            {
                <li class="navbar-item"><a href="@item.Url" class="nav-link">
                    <img src="img/@(item.Image)-48.png" alt="@item.Title" />
                </a></li>
            }
        </ul>
    </nav>
</div>

<div class="dm-maincontent">
    @RenderBody()
</div>

</body>
</html>